:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: rgb(0, 0, 40);
  --title-decor-color: rgb(0, 0, 40);
  --accent-color: rgb(255, 0, 112);
  --main-title-color: rgb(219, 0, 255);
  --btn-color: rgb(255, 0, 112);
  --section-article-title-color: rgb(255, 0, 112);
  --section-article-text-color: rgb(241, 178, 206);
  --btn-hover-color: rgba(255, 0, 112, 0.4);
  --visible: inline-block;
}
